
.product img{
width: 60px;
height: 60px;
}


small.num{
    color: rgba(156,163,175)
}

.step.line.all::after{
  content: '';
  width: 75%;
  height: 8px;
  background-color:rgb(110, 231, 183);
  /* background-color:red; */
  border-radius: 12px;

  position: absolute;
  right: -38%;
  top: 27%;
  transform: translateY(-50%);
}

@media(max-width:768px){
  .step.line.all::after{
  content: '';
  width: 40%;
  height: 8px;
  background-color:rgb(110, 231, 183);
  /* background-color:red; */
  border-radius: 12px;

  position: absolute;
  right: -20%;
  top: 30%;
  transform: translateY(-50%);
  }
}


