.banner{
    .banner-img{
        background-image: url(/img/2021-05-05-Matte\ Painting-03-盧禹勝.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 300px;

    }
}