

.container{

    .resume{
        padding: 150px 0px 50px;

        
    }

    .frontend{
        padding: 0px 50px;

        .links{
            margin-left: 100px;
    
            .link{
                padding: 10px 0;
    
                img{
                    width: 500px;
                    height: auto;
                }
            }
        }
    }

    .adobe{
        padding: 50px 50px;

        .links{
            margin-left: 100px;
    
            .link{
                padding: 10px 0;
    
                img{
                    width: 500px;
                    height: auto;
                }
            }
        }
    }


}